<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fwl.openinzed</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0494F58B-1D33-45AD-BD90-2E4C0DB4D6E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4F5A6B7-8E9C-4D1F-B2E1-F6C9D0A3B4E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C8D3F4A-9E2B-4F1C-A9D8-3C7B5E6A2F1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4F5A6B7-8E9C-4D1F-B2E1-F6C9D0A3B4E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>OpenInZed</string>
	<key>description</key>
	<string>Quickly search and open Zed projects from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OpenInZed</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>zopen</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching projects...</string>
				<key>script</key>
				<string>./zed-search '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search and open Zed projects</string>
				<key>title</key>
				<string>OpenInZed - Search Projects</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0494F58B-1D33-45AD-BD90-2E4C0DB4D6E2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>zrecent</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading recent projects...</string>
				<key>script</key>
				<string>./zed-recent '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search and open recent Zed projects</string>
				<key>title</key>
				<string>OpenInZed - Recent Projects</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5C8D3F4A-9E2B-4F1C-A9D8-3C7B5E6A2F1C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Zed.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D4F5A6B7-8E9C-4D1F-B2E1-F6C9D0A3B4E5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred workflow to search and open Zed projects. Configure PROJECT_DIRS environment variable to add custom project directories.</string>
	<key>uidata</key>
	<dict>
		<key>0494F58B-1D33-45AD-BD90-2E4C0DB4D6E2</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>5C8D3F4A-9E2B-4F1C-A9D8-3C7B5E6A2F1C</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>D4F5A6B7-8E9C-4D1F-B2E1-F6C9D0A3B4E5</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>PROJECT_DIRS</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>PROJECT_DIRS</string>
	</array>
	<key>version</key>
	<string>2.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/yourusername/openinzed</string>
</dict>
</plist>